body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Parisienne', cursive;
}

ul {
  display: inline;
}

li {
  list-style-type: none;
  display: inline;
}

.bag-item {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 250px;
  margin-bottom: 5%;
}

.bag-item-img {
  object-fit: contain;
}

.card-title {
  font-size: 1rem;
  width: 400px;
}

.bag-item-body {
  display: flex;
  flex-direction: column;
}

.jumbotron {
  background-color: #FFF;
  padding-top: 0;
  padding-bottom: 0;
  background-color: black;
}

.flex-grow-1 {
  flex-grow: 1;
}

.btn-custom {
  color: #333;
  background-color: #CBB682;
  width: 80px;
  margin: 0 2%;
}

.nav-link {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 15px;
  
}

.navbar-light .navbar-nav .nav-link {
  color : #CBB682;
}

.navbar {
  background-color: black;
}

.navbar-light .navbar-toggler {
  border-color: #CBB682;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(203, 182, 130, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #E9DBBD;
}

navbar-toggler:focus {
  outline-color: rgb(203, 182, 130);
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  /* color : #CBB682; */
  color: black;
  text-align: center;
}

.title-bar {
  background-color: #E9DBBD;
  margin: 0;
}

.modal-content {
  padding: 8%;
}

.container-jumbo {
  display: flex;
}

#dress-cards-container {
  margin: 2%;
}

.dress-card-content {
  color: black;
  text-decoration: none;
  margin: 2%;
}

.jumbotron-text {
  color: #E9DBBD;
  margin: 3%;
  font-size: 1em;
  text-align: center;
}